.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container .home {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 100px;
  padding: 50px;
  width: 100%;
  padding-top: 70px;
}

.container .home .home_about {
  background-color: white;
  margin-bottom: 4em;
  margin-left: 12%;
  font-weight: 300;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.container .home .home_about img {
  position: relative;
  top: -50px;
  max-width: 20em;
  width: 100%;
  margin-right: 3em;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.container .home .home_about .about_text {
  position: relative;
  padding: 1%;
  margin: 1em;
  font-size: 15px;
  font-weight: 600;
  color: #597a69;
  line-height: 1.5;
}

.container .home .home_about .about_text .about_name {
  font-size: 50px;
}

.container .home .home_about .about_text .about_de {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.container .home .home_about .about_text a {
  text-decoration: none;
  color: #769284;
}
.container .home .home_about .about_text a:visited {
  text-decoration: none;
  color: #769284;
}

.container .home .home_about .about_text img {
  top: 0;
  margin: 0;
  max-width: 1.5em;
  width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1090px) {
  .container .home .home_about {
    margin: 0;
    margin-bottom: 5em;
  }
}
